POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=kenepa
POSTGRES_PORT=5440
DATABASE_URL=postgresql+psycopg://user:password@db:5432/kenepa
SEC_USER_AGENT=Oscar oscaromarflores@gmail.com
DATA_DIR=/app/data
REPORTS_DIR=/app/reports
